<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>acupressure</title>
    <link rel="stylesheet" href="front_page_style.css">
</head>
<body>
    <div class="bigger-body">
        <div class="nav">
            <div class="logo">
                <img src="#" alt="">
            </div>
            <ul>
                <li><a href="front_page.ejs">Home</a></li>
                <li><a href="#about_id">About</a></li>
                <li><a href="#way">Technique</a></li>
                <li><a href="#last">Contact us</a></li>
            </ul>
        </div>

        <div class="hero-section">
            <div class="welcome_text"> welcome_text</div>
            <div class="try"><a href="#" target="_blank"> try it</a></div>
        </div>

        <div class="about_outter" id="about_id">
            <p>About us</p>
            <div class="about">
                <div class="about_img"></div>
                <div class="about_text"></div>
            </div>
        </div>

        <div class="technique" id="way">
            <p>Technique</p>
            <div class="tech_image">
                <div class="images">a</div>
                <div class="images">b</div>
                <div class="images">c</div>
                <div class="images">d</div>
                <div class="images">e</div>
                <div class="images">f</div>
            </div>
        </div>

        <div class="foot"  id="last">

            <div class="footer_content">
                
                    <div class="footer-links">
                        <ul>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/contact">Contact Us</a></li>
                            <li><a href="/terms">Terms of Service</a></li>
                            <li><a href="/privacy">Privacy Policy</a></li>
                            <li><a href="/faq">FAQ</a></li>
                        </ul>
                    </div>
                    <div class="social-links">
                        <a href="https://facebook.com"><img src="facebook-icon.png" alt="Facebook"></a>
                        <a href="https://twitter.com"><img src="twitter-icon.png" alt="Twitter"></a>
                        <a href="https://instagram.com"><img src="instagram-icon.png" alt="Instagram"></a>
                    </div>
            </div>
                <div class="copyright">
                    <p>&copy; 2024 acupressure</p>
                </div>
                
        </div>
    </div>
</body>
</html>